.main{
width: 94%;
height: auto;
padding-bottom: 50px;
max-width: 1240px;
min-width: 320px;
margin: 0 auto;
}
.toplist{
	line-height: 70px;
}
.toplist h1{
	margin: 0;
}
.toplist ul li{
	padding:0 40px;
}
.toplist ul li a{
	color:#000;
	font-size: 18px;
	padding-top: 10px;
	
} 
.toplist ul li a:hover{
	color:#306A7F;
	border-top: 3px solid #000;
} 
.row .col-sm-6{
	padding-right:10px;
}
.row .col-sm-6 p{
	height:34px;
	overflow: hidden;
}
.row .col-sm-6>div{
	background-color: #f2f2f2;
	padding:25px;
	height:500px;
	overflow: hidden;
	margin-bottom: 20px;
}
.come{
	font-size: 15px;
	color:#999999;
}
.text-right a{
 color: #306a7f;
 font-size: 15px;
}
.xinwen,.shipin{
	display: none;
}
a{
	color:#000;
}

