.main{
width: 94%;
height: auto;
padding-bottom: 50px;
max-width: 1240px;
min-width: 320px;
margin: 0 auto;
}

.toplist{
	display: inline-block;
}
div.toplist>a{
	font-size: 18px;
	color:#000;
	text-align: center;
}
ul.cityul li{
	width:100px;
	line-height: 30px;
	text-align: center;
}
ul.cityul li a{
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 15px;
	background-color: #F2F2F2;
	width:100%;
}
ul.cityul li a:hover{
	
	background-color: #306a7f;
	color:#fff;
}
div.chose{
	float: right;
}
.chosea{
	 background: url(../themes/default/images/arrow.png) no-repeat left center;
	 display: block;
	 width:100px;
}
div.chose ul.cityul{
	display: none;
	height:0;
	position: absolute;
	transition: .3s linear;
	z-index: 1000;
}
div.chose:hover ul.cityul{
	display: block;
	height:auto;
}

.store_detail li{
	margin-bottom: 35px;
}
.store_detail li span:first-child{
	color:#990000;
}
.store_detail span{
	display: inline-block;
	line-height: 35px;
	font-size: 18px;
}